.user-card{
  padding-left: 30px;
  align-self: baseline;

  .profile-picture {
    img {
      border-radius: 50%;
      width: 60px !important;
    }
  }

  .username {
    align-self: end;
    margin-left: 25px;
  }

  .bio {
    margin-top: 10px;
  }
}
