.card {
  width: 40vw;
  margin: 10px;

  @media screen and (max-width: 770px) {
    width: 90vw;
  }

  img {
    border-radius: 50%;
    width: 60px;
    margin: 10px 0 0 28px;
  }

  .username {
    align-self: flex-end;

    @media screen and (max-width: 1450px) {
      padding-left: 40px;
    }

    @media screen and (max-width: 790px) {
      padding-left: 50px;
    }
  }

  .posted-on {
    text-align: end;
    padding: 15px 30px 0 0;
    color: #848484;
    font-size: 0.85rem;
  }

  .card-text {
    margin-left: 15px;
  }

  .likes {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
  }

  .like-button {
    text-align: flex-end;
    margin-left: 20px;
  }
}
