.content {
  background-color: #f0eff0;
  display: flex;
  align-items: center;
  height: 100%;
  overflow-y: auto;

  .outlet {
    align-self: flex-start;
    margin-top: 75px;
  }

  .left-panel {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 75px;

    .people-text {
      margin: 10px 0 30px 38px;
      font-size: 1.1rem;
      font-weight: bold;
    }
  }

  .right-panel {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 75px;

    .ad {
      margin-right: 15px;
    }
  }

  .outlet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
