.navbar {
  min-height: 57px;
  background-color: #5b07c7;

  .search-button {
    background-color: #5b07c7 !important;
    border-color: #5b07c7 !important;
  }

  img {
    border-radius: 50%;
    width: 30px;
  }
}

.modal-form {
  input, textarea {
    width: 100%;
  }
}
